@charset "utf-8";
/* CSS Document */

body{ 
font-family:"Arial Black", Gadget, sans-serif;
border-color:transparent;
background:#FCC;
animation:linear;
font-variant:normal;
font:Verdana, Geneva, sans-serif;
}
.h2s{text-decoration:!important;
font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
animation:ease-in;
}
.trs{ border-image:round;
}
.ts1{ font-size:18px;
text-align:start;
font-family:"Times New Roman",Times, serif;
text-decoration:blink;
text-justify:inter-cluster;
marquee-direction:!important;
background:#CCF;
font-style:oblique;
color:#003;

}

}
.t1{font-size:14px;

font-family:"Times New Roman", Times, serif;
}
.p1{
	 
	 marquee-style:scroll;
}
.s1{
	font-style:italic;
	color:#006600;
	background-color:#CCCCCC;
}
.b1{background-color:#99FFCC;
}

.sk
{font-size:45px;
font-family:"Times New Roman", Times, serif;
}

.sk1
{font-color:#33F;
font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
